<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Contact</h1>
    <nav>
      <li><a href="index.html">Home</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="services.html">Services</a></li>
    </nav>
    <img
      style="margin: 0 28%"
      src="https://image.freepik.com/photos-gratuite/mains-tenant-lettres-colorees-formant-contact-mot_53876-30920.jpg"
      alt="node-js-mage"
    />
  </body>
</html>
